// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text],
input[type=email],
textarea {
  color: #A39C9C;
  background: #666168;
  border: none;
  padding: .5em;
  resize: none; 

  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;

  display: block;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  max-width: 100%;
}
textarea { padding: .75em; }
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  color: #666;
  background: #fff;
  outline: none;
}

#searchsubmit {
  padding: .62em;
  width: 20%;
  font-family: 'symmetrycode-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  text-align: center;
  opacity: 0.8;
  font-size: 1em;
  height: 45px;
}

i {
  font-size: 28px;
  color: rgb(88, 88, 88);
}
button {
  background: #ffae00;
  text-transform: uppercase;
  font-weight: 400;
  color: white;
  padding: 1em 1.5em;
  border: none;
  font-size: .75em;
  cursor: pointer;
  -webkit-text-stroke: 0;
  -webkit-transition: all .1s ease;
  -moz-transition: all .1s ease;
  -ms-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input {
  line-height: normal;
}

button:hover {
  background: #ffc64d;
}

#searchbox {
  width: 80%;
  height: 45px;
  font-size: 30px;
  float: left;
}

.container {
  width: 70%;
  margin-left: 15%;
}

#search {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
}

.results {
  width: 80%;
  margin-left: 10%;
  height: 620px;
  font-family: 'Lato', sans-serif;
  border-left: 2px solid rgb(143, 143, 143);
  box-shadow: 3px 5px 5px rgba(19, 18, 18, 0.12);
  border-right: 2px solid rgb(143, 143, 143);
  border-radius: 3px;
  border-bottom: 2px solid rgb(143, 143, 143);
  font-size: 1.1em;
  display: none;
  background-color: white;
  padding-top: 5px;
}

a {
color: #004b91;
}

body {
  background-color: #ecf0f1;
}
a:hover {
  color: #C60;
}