<div class='container'>
  <div id='search'>
    <form class="searchform">
      <input id='searchbox' type="text" class="field" name="query" placeholder="Search …">
      <button id="searchsubmit">
        <i class="icon-search"></i>
      </button>
    </form>
  </div>
  <div class='results'>
  </div>
</div>
<h1>
  <strong style="
  font-size: 2em;
  ">Roogle</strong><br>
  makes buyer's remorse <br>
  a thing of the past.
</h1>

<div class="modal-overlay"></div>

<div class="modal-window">
<p id='modaltext'>Loading Reviews</p>
<center>
<div class="loader rspin">
  <span class="c"></span>
  <span class="d spin"><span class="e"></span></span>
  <span class="r r1"></span>
  <span class="r r2"></span>
  <span class="r r3"></span>
  <span class="r r4"></span>
</div>
  
</center>
  <!-- <button class="close-button">Close popup</button> -->
</div>