<div class='container'>

  <div id='search'>
    <form class="searchform">
      <input id='searchbox' type="text" class="field" name="query" placeholder="Search …">
      <button id="searchsubmit">
        <i class="icon-search"></i>
      </button>
    </form>
  </div>
  <div class='results'>
  </div>    
</div>