<div class="container">
  <div id="search">
    <form class="searchform">
      <input id="searchbox" type="text" class="field" name="query" placeholder="Search …">
      <button id="searchsubmit">
        <i class="icon-search" style="font-size: 28px; color: rgb(88, 88, 88); margin: 0;"></i>
      </button>
    </form>
  </div>
  <div class="results">
  </div>
<!-- <div class="review-nav">
  
  <a style="display:block" href="http://justinbieber.com">
    <div class="xyz"><i class="icon-camera-retro"></i></div>
  </a>
  <a style="display:block" href="http://justinbieber.com">
    <div class="xyz"><i class="icon-group"></i></div>
  </a>
  <a style="display:block" href="http://justinbieber.com">
    <div class="xyz"><i class="icon-thumbs-up"></i></div>
  </a>
  <a style="display:block" href="http://justinbieber.com">
    <div class="xyz"><i class="icon-youtube"></i></div>
  </a>
  
</div> -->

</div>

<div class='review-pane'>

</div>



<h1>
  <strong style="
  font-size: 2em;
  ">Roogle</strong><br>
  make buyer's remorse <br>
  a thing of the past.
</h1>

<div class="modal-overlay"></div>

<div class="modal-window">
  <p id="modaltext">Loading Reviews</p>
  <center>
    <div class="loader rspin">
      <span class="c"></span>
      <span class="d spin"><span class="e"></span></span>
      <span class="r r1"></span>
      <span class="r r2"></span>
      <span class="r r3"></span>
      <span class="r r4"></span>
    </div>

  </center>
  <!-- <button class="close-button">Close popup</button> -->
</div>