<nav id="Navigation">
  <UL>
   <li class="var_nav">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class=icon> 
        <i class="icon-camera-retro icon-2x"></i>
        </div>
        <a class="sidebar-link" href="#"><span class="sidebar-text">Images</span></a>
      </div>
   </li>
   <li class="var_nav">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class=icon> 
        <i class="icon-group icon-2x"></i>
        </div>
        <a class="sidebar-link" href="#"><span class="sidebar-text">User Reviews</span></a>
      </div>
   </li>
   <li class="var_nav">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class=icon> 
        <i class="icon-thumbs-up icon-2x"></i>
        </div>
        <a class="sidebar-link" href="#"><span class="sidebar-text">Critic Reviews</span></a>
      </div>
   </li>
   <li class="var_nav">
      <div class="link_bg"></div>
      <div class="link_title">
        <div class=icon> 
        <i class="icon-youtube icon-2x"></i>
        </div>
      <a class="sidebar-link" href="#"><span class="sidebar-text">Youtube Reviews</span></a>
      </div>
   </li>
  </UL>
</nav>